.itemcontainer {
  border-radius: 2%;
  width: 300px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 35px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.itemimage {
  max-width: 100%;
  height: auto;
}
.itemdata {
  margin: 0 20px;
}
.itempara {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.itemButton {
  background-color: rgb(41, 179, 41);
  color: white;
  border: none;
  width: 35%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonconta {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
